/* Checkout.css */

.checkout-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  flex-wrap: wrap;
}

.checkout-content {
  flex: 1 1 65%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 20px;
}

.checkout-section {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.checkout-address {
  display: block;
  padding: 0.5rem;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-yellow {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.checkout-address-form input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-save-address {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

.checkout-item {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.item-thumb {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.checkout-info {
  font-size: 13px;
  color: #111;
  padding-top: 20px;
}

.checkout-info a {
  color: #0066c0;
  text-decoration: none;
}

.checkout-info a:hover {
  text-decoration: underline;
}

.link-cart {
  display: inline-block;
  margin-top: 10px;
  color: #0066c0;
}

.checkout-summary-box {
  flex: 1 1 30%;
  background-color: #fefae0;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #fcd200;
  height: fit-content;
}

.btn-place-order {
  background-color: #fff9d5;
  border: 1px solid #fcd200;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.summary-breakdown {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .checkout-wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .checkout-content, .checkout-summary-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-place-order {
    font-size: 14px;
  }
}
